template
  core-drawer-panel(drawerWidth.bind="navWidth")
    //- left side navigation bar
    nav(drawer, class="${navOpened?'opened':''}")
      core-toolbar(click.trigger="toggleNav()")
        yi-icon(icon="menu", animate.bind="router.isNavigating || http.isRequesting")
      // list of sections links
      a(
        repeat.for="route of router.navigation", 
        href.bind="route.href", 
        class="${route.isActive?'active':''}"
      )
        yi-icon(icon.bind="route.config.name", title.bind="route.config.text")
        i ${route.config.text}
    //- applicaiton sections
    router-view(main, flex, id="${activeRoute}")

  //- beta version dialog
  dialog#beta
    button.close(click.trigger="beta.close()") &times;
    //- dialog content
    yi-icon(icon='construction')
    p Esta versión <strong>Beta</strong> no tiene todas las funciones disponibles. 
    p Escríbenos tus dudas, comentarios, ¡e ideas! a 
      a(href="mailto:olinguito.lab@gmail.com?subject=Yo Intervengo") olinguito.lab@gmail.com
