template
  core-drawer-panel(drawerWidth.bind="navWidth")
    //- left side navigation bar
    nav(drawer, class="${navOpened?'opened':''}")
      core-toolbar(click.trigger="toggleNav()"): yi-icon(icon="menu")
      a(repeat.for="route of router.navigation", 
        href.bind="route.href", 
        class="${route.isActive?'active':''}"
        )
        yi-icon(icon.bind="route.config.id", title.bind="route.title")
        i ${route.title}
    //- applicaiton sections
    router-view(main, flex, id="${activeRoute}")
