template
  import(from="app/elements/marker/yi-marker")
  import(from="app/elements/card/yi-card")

  section#map-area
    core-toolbar
      yi-icon-button(icon="menu")
      yi-icon-button(icon="search")


    leaflet-map(
    latitude.bind="map.lat",
    longitude.bind="map.lng",
    tileServer.bind="mapConf.tiles",
    zoom.bind="map.zoom",
    options.bind="mapConf",
    tileserver.bind="mapConf.tiles"
    )
      yi-marker(
      marker,
      latitude.one-time="map.lat",
      longitude.one-time="map.lng",
      click.trigger="mrk.toggleType()",
      ref.view-model="mrk"
      )

    core-toolbar.bottom
      yi-icon-button(icon="map-center")
      yi-report-button()

  yi-search-tool

  yi-card-list
    yi-card(click.trigger="router.navigate('some-report')")
    yi-card(click.trigger="router.navigate('other-report')")
    yi-card(click.trigger="router.navigate('some-complain')")
    yi-card(click.trigger="router.navigate('other-complain')")

  router-view(id="${activeSubSection}")
