template
  import(from="app/elements/marker/yi-marker")
  import(from="app/elements/card/yi-card")
  import(from="app/elements/selector/yi-selector")
  import(from="app/elements/selector/yi-button")

  section#map-area
    core-toolbar
      yi-icon-button(icon="menu")
      yi-icon-button(icon="search")

    leaflet-map(
    latitude.bind="map.center.lat",
    longitude.bind="map.center.lng",
    zoom.bind="map.zoom",
    options.bind="mapConf",
    tileserver.bind="mapConf.tiles"
    )
      yi-marker(
      marker,
      latitude.one-time="map.center.lat",
      longitude.one-time="map.center.lng",
      click.trigger="mrk.toggleType()",
      ref.view-model="mrk"
      )

    core-toolbar.bottom
      yi-icon-button(icon="map-center")
      //- create report
      //- TODO: class interpolation aurelia/binding#33
      yi-selector(icon="add", select.call="newReport()")
        // request or complain
        yi-button(title="${type.name}", value="${type.slug}", class="${type.slug}", repeat.for="type of cats", click.delegate="$parent.selectorType=type.slug")
          // main categories
          yi-button(title="${cat.name}", value="${cat.slug}", repeat.for="cat of type.categories")
            // sub-categories
            yi-button(title="${subcat.name}", value="${subcat.slug}", repeat.for="subcat of cat.categories")

  //- sub routes(search, detail, new)
  router-view(id="${activeSubSection}")

  yi-card-list
    yi-card(repeat.for="report of reports", report.bind="report")
