template
  require(from="yi/elements/form/responsive-form")
  require(from="yi/elements/controls/yi-photo-button")
  require(from="yi/elements/icon/yi-icon")

  responsive-form(class="${report.typeName}", submit.call="saveReport()")
    section.info.left
      .cat
        figure: yi-icon(icon="${report.category.icon}")
        h2 ${report.category.parent.name}
        h3 ${report.category.name}
      .fields
        input(placeholder="título", tabindex="1", autofocus, value.bind="report.title", required)
        textarea(placeholder="descripcción", tabindex="1", value.bind="report.description", required)
    section.map.right
      i ubica tu ${report.type == 0 ? 'petición' : 'queja'} en el mapa
      leaflet-map(
        latitude.two-way="report.location.lat",
        longitude.two-way="report.location.lng",
        zoom="17",
        options.one-time="mapConf",
        tileServer.one-time="mapConf.tiles"
      )
        yi-marker(class="${report.type==0?'alt':''}", icon="${report.category.icon}", fixed-marker)

      input(placeholder="dirección", tabindex="1", required)
    section.photo.right
      i Añade una foto al reporte
      figure
        yi-photo-button(title="buscar foto", filechange.call="photoSelected($event)")
