template
  require(from="yi/elements/search/yi-search-tool")
  require(from="yi/elements/selector/yi-selector")
  require(from="yi/elements/selector/yi-button")
  require(from="yi/elements/marker/yi-marker")
  require(from="./converters/search-filter")
  
  //- search bar
  yi-search-tool(query.bind="parentVM.query")
  //- .tool-bar.top
    button: yi-icon(icon="menu")
    button: yi-icon(icon="search")
  
  //- main map
  mgl-map#map(
    ref="mapElement",
    lat.bind="map.lat",
    lng.bind="map.lng",
    zoom.bind="map.zoom",
    options.bind="map.config"
  )
    div(
      marker,
      lat.bind="report.location.lat",
      lng.bind="report.location.lng",
      repeat.for="report of reports | search:query"
    )
      yi-marker(
        icon.bind="report.category.icon",
        class="${report.typeName == 'request'?'alt':''}",
        click.trigger="$parent.parentVM.list.yiCardList.highlight(report)"
        title="${report.title}"
      )

  .tool-bar.bottom
    //- center map on user location
    yi-button(
      title="Ubicarme en el mapa",
      icon="location", 
      click.delegate="map.center()",
      class="${map.locating?'loading':''}"
    )
    //- create report
    //- TODO: class interpolation aurelia/binding#33
    yi-selector(icon="add", on-select.call="newReport($event)")
      yi-button(title="Nueva Petición", value="request", icon="request", class="request", click.delegate="$parent.selectorType='request'")
        yi-button(title.bind="cat.name", value="${cat.slug}", icon="${cat.icon}", repeat.for="cat of categories", class="request")
          yi-button(title.bind="subcat.name", value="${subcat.slug}", icon="${subcat.icon}", repeat.for="subcat of cat.categories", class="request")
      yi-button(title="Nueva Queja", value="complain", icon="complain", class="complain", click.delegate="$parent.selectorType='complain'")
        yi-button(title.bind="cat.name", value="${cat.slug}", icon="${cat.icon}", repeat.for="cat of categories", class="complain")
          yi-button(title.bind="subcat.name", value="${subcat.slug}", icon="${subcat.icon}", repeat.for="subcat of cat.categories", class="complain")
