template
  import(from="app/elements/marker/yi-marker")
  import(from="app/elements/card/yi-card")
  import(from="app/elements/selector/yi-selector")
  import(from="app/elements/selector/yi-button")

  section#map-area
    core-toolbar
      yi-icon-button(icon="menu")
      yi-icon-button(icon="search")

    leaflet-map(
    latitude.bind="map.center.lat",
    longitude.bind="map.center.lng",
    zoom.bind="map.zoom",
    options.bind="mapConf",
    tileserver.bind="mapConf.tiles"
    )
      yi-marker(
      marker,
      latitude.one-time="map.center.lat",
      longitude.one-time="map.center.lng",
      click.trigger="mrk.toggleType()",
      ref.view-model="mrk"
      )

    core-toolbar.bottom
      yi-icon-button(icon="map-center")
      //- create report
      yi-selector(icon="add", select.call="newReport()")
        yi-button(title.bind="type.name", value.bind="type.slug", class="${type.name}", repeat.for="type of cats")
          yi-button(title.bind="cat.name", value.bind="cat.slug", class="${$parent.type.name}", repeat.for="cat of type.categories")
            yi-button(title.bind="subcat.name", value.bind="subcat.slug", class="${$parent.$parent.type.name}", repeat.for="subcat of cat.categories")

  //- sub routes(search, detail, new)
  router-view(id="${activeSubSection}")

  yi-card-list
    yi-card(repeat.for="report of reports", report.bind="report")
