template
  require(from="yi/elements/controls/yi-tabs")
  require(from="yi/elements/controls/yi-tab")
  require(from="yi/elements/marker/yi-marker")
  require(from="yi/elements/icon/yi-icon")
  
  nav: .container
    //- button: yi-icon(icon="arrow")
    button: yi-icon(icon="close", click.delegate="close()")
    //- button: yi-icon(icon="arrow")

  yi-cover: img(src.bind="report.photo.url")
      
  main
    section.detail
      article
        h1 ${reportCit}
        p.category ${report.category.name}
        p.address ${'Sin dirección exacta'}
        p.description ${report.description}
        
        ul.stats
          li.backed
            button.indicator(title="Respaldar"): yi-icon(icon="hand")
            output(title="${report.supporters} respaldos") ${report.supportersNum}
          li.shared
            button.indicator(title="Compartir", click.delegate="share.showModal()"): yi-icon(icon="share")
            output(title="Compartido ${report.supporters} veces") 0
          li.commented
            span.indicator(title="Comentarios"): yi-icon(icon="comment")
            output(title="0 comentarios") 0
          li.status
            span.indicator(title="Estado"): yi-icon(icon="status-reported")
            output Reportado
          
      mgl-map(
        ref="map",
        lat.bind="report.location.lat",
        lng.bind="report.location.lng",
        zoom="17",
        options.bind="mainMap.config"
      )
        div(
          marker
          lat.bind="report.location.lat",
          lng.bind="report.location.lng"
        ): yi-marker( icon.bind="report.category.icon" class="${report.type==0?'alt':''}")

    section.photos: ul
      li.pic: img(src.bind="report.photo.thumbUrl", alt="")
      li.pic: img(src.bind="report.photo.thumbUrl", alt="")
      li.pic: img(src.bind="report.photo.thumbUrl", alt="")
      li.pic: img(src.bind="report.photo.thumbUrl", alt="")
      //- li.gallery(title="Ir a galería")
        img(src='http://lorempixel.com/100/100/city')
        img(src='http://lorempixel.com/100/100/city')
        img(src='http://lorempixel.com/100/100/city')
        img(src='http://lorempixel.com/100/100/city')
          
    section.actions
      yi-tabs(selected.bind="tab")
        yi-tab(icon='paper') Historial
        yi-tab(icon='link') Enlaces
      #history.action(if.bind="tab==0")
        p Ningún hito se ha registrado en este reporte
      #links.action(if.bind="tab==1")
        p Ningun enlace se ha añadido a este reporte
        
  //- pop-ups
  dialog#share(ref="share")
    button.close(click.trigger="share.close()"): yi-icon(icon="close")
    //- dialog content
    yi-icon(icon='share')
    p La función de compartir está deshabilitada por el momento.
    
