template
  import(from="app/elements/form/responsive-form")
  import(from="app/elements/controls/yi-photo-button")
  import(from="app/elements/marker/yi-marker")

  responsive-form.request
    section.info.left
      .cat
        figure: img(alt="category icon", src="assets/semaforo.svg")
        h2 ${report.category.parent.name}
        h3 ${report.category.name}
      .fields
        input(placeholder="Title", tabindex="1", autofocus)
        textarea(placeholder="Report Description", tabindex="1")
    section.map.right
      i Locate your report on the map
      leaflet-map(
      latitude.bind="center.lat",
      longitude.bind="center.lng",
      zoom="17",
      options.one-time="mapConf",
      tileServer.one-time="mapConf.tiles"
      )
        yi-marker(class="alt", fixed-marker)

      input(placeholder="Address", tabindex="1")
    section.photo.right
      i Add a photo to your report
      figure
        yi-photo-button(title="Add photo", filechange.call="photoSelected()")
