template
  require(from="yi/elements/marker/yi-marker")
  require(from="yi/elements/card/yi-card")

  section#map-area
    core-toolbar
      yi-icon-button(icon="menu")
      yi-icon-button(icon="search")

    leaflet-map(
    latitude.bind="map.center.lat",
    longitude.bind="map.center.lng",
    zoom.bind="map.zoom",
    options.bind="mapConf",
    tileserver.bind="mapConf.tiles"
    )
      yi-marker(
      marker,
      latitude.one-time="map.center.lat",
      longitude.one-time="map.center.lng",
      click.trigger="mrk.toggleType()",
      ref.view-model="mrk"
      )

  router-view(id="${activeSubSection}")

  yi-card-list
    yi-card(repeat.for="report of reports", report.bind="report")
