template
  main
    nav
      button.previous &lt;
      button.close(cl.urlick.delegate="r.navigate('')") x
      button.next &gt;

    ul.pics
      li.mapmask
      li.pic
        img(src='http://lorempixel.com/200/200/city', alt="")
      li.pic
        img(src='http://lorempixel.com/200/200/city', alt="")
      li.gallery(title="Ir a galería")
        img(src='http://lorempixel.com/100/100/city')
        img(src='http://lorempixel.com/100/100/city')
        img(src='http://lorempixel.com/100/100/city')
        img(src='http://lorempixel.com/100/100/city')

    article.info-card
      header
        figure: img(src.bind='report.photo.url')
        section.left-side
          h1.title ${report.title}
          h3.cat-subcat ${report.category.parent.name} - ${report.category.name}
          h4.address-city ${report.address}
        section.right-side
          button.alert i
          i.state Reportado
      .content
        p.description ${report.description}
        aside: ul
          li.backed Respaldos ${report.supporters}
          li.commented Comentarios 0
          li.shared Compartido 0

    p.wiki-text Para lograr un mayor impacto asocia este reporte a un contrato.
      a Enlazar a Wiki

    section.tab-card
      nav.tabs
        ul
          li.history H
          li.links E
          li.comments C
          li.more +
      section.history-card
        h2.title Historial
        yi-history Módulo del historial

  .tilted-bg
