template
  require(from="yi/elements/search/yi-search-tool")
  require(from="yi/elements/selector/yi-selector")
  require(from="yi/elements/selector/yi-button")

  yi-search-tool(query.bind="parentVM.query")

  core-toolbar.bottom
    yi-icon-button(icon="map-center")
    //- create report
    //- TODO: class interpolation aurelia/binding#33
    yi-selector(icon="add", select.call="newReport($event)")
      // request or complain
      yi-button(title="${type.name}", value="${type.slug}", class="${type.slug}", repeat.for="type of categories", click.delegate="$parent.selectorType=type.slug")
        // main categories
        yi-button(title="${cat.name}", value="${cat.slug}", icon="${cat.slug}", repeat.for="cat of type.categories", class="${$parent.type.slug}")
          // sub-categories
          yi-button(title="${subcat.name}", value="${subcat.slug}", icon="${$parent.cat.slug}", repeat.for="subcat of cat.categories", class="${$parent.$parent.type.slug}")
