template
  require(from="yi/elements/controls/yi-tabs")
  require(from="yi/elements/controls/yi-tab")
  require(from="yi/elements/icon/yi-icon")
  
  nav

  yi-cover
    
  main
    section.info
      .content
        h1 ${user.profile.username}
        p ${user.profile.email}
      figure: yi-icon(icon="profile")
        
    section.actions
      yi-tabs(selected.bind="tab")
        yi-tab(icon='close') Creados
        yi-tab(icon='hand') Respaldados
      //-
      #own-reports.action(if.bind="tab==0")
        p(if.bind="user.profile.reports.length==0") No has creado ningún reporte
        ul(if.bind="user.profile.reports.length>0")
          li.report-mini(repeat.for="r of user.profile.reports", click.delegate="$parent.open(r)")
            h3 ${r.title}
            p ${r.category.name}
            yi-icon(icon.one-time="r.category.icon", class="${r.type?'complain':'request'}")
      #supported-reports.action(if.bind="tab==1")
        p(if.bind="user.profile.supported.length==0") No has soportado ningún reporte
        ul(if.bind="user.profile.supported.length>0")
          li.report-mini(repeat.for="r of user.profile.reports", click.delegate="$parent.open(r)")
            h3 ${r.title}
            p ${r.category.name}
            yi-icon(icon.one-time="r.category.icon", class="${r.type?'complain':'request'}")
        
