template
  require(from="../icon/yi-icon")

  header(click.delegate="openDetail()")
    figure.title
      img(src.bind='report.photo')
      figcaption
        h1(if.bind="report.title") ${report.title}
        h1.empty(if.bind="!report.title")
        h2 ${report.category.parent.name} - ${report.category.name}
    figure.category
      yi-icon(icon="${report.category.icon}")
  p.description(if.bind="report.description") ${report.description}
  p.description.empty(if.bind="!report.description")
  p.backups
    yi-icon(icon="hand")
    | ${report.supporters} respaldos
