template
  require(from="yi/elements/card/yi-card")
  require(from="yi/elements/icon/yi-icon")
  require(from="./report-sorting")
  
  header.sort
    button(
        repeat.for="o of orderOptions", 
        title.bind="o.title",
        click.trigger="$parent.select(o)",
        class="${$parent.order==o.name ? 'active' : ''}"
      )
      yi-icon(icon.bind="o.icon")
      
  section
    .card-highlight(
      repeat.for="report of reports | sort:order",
      class="${report == $parent.active ? 'active': ''} ${report.typeName}"
    )
      yi-card(
        report.bind="report",
        class="${report.typeName}",
        on-select.call="$parent.cardSelected($event)"
      )
    p(if.bind="reports.length===0") Sin reportes para mostrar
